<head>
<title>CryptoPort</title>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="icon" href="https://icons.veryicon.com/png/o/business/wb-legend-of-shanghai-ocean-bearing-body/wb-uu-port-terminal.png" type="image/x-icon">
</head>

<body class="bg-gray-700">
    <%- include ('partials/navbar') %>
    <%- include ('partials/createTransaction') %>
    <%- include ('partials/portfolio') %>
</body>